<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootsrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <!-- Template main Css -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Modernizr -->
    <script src="/javascripts/modernizr-2.6.2.min.js"></script>


</head>
<body>
<!-- NAVBAR
================================================== -->

<header class="main-header">


    <nav class="navbar navbar-static-top">

        <div class="navbar-top">

            <div class="container">
                <div class="row">

                    <div class="col-sm-6 col-xs-12">

                        <ul class="list-unstyled list-inline header-contact">
                            <li><i class="fa fa-phone"></i> <a href="tel:">0751-4081048, 2346449, 2341091 </a></li>
                            <li><i class="fa fa-envelope"></i> <a
                                        href="mailto:roshnigwalior@yahoo.co.in">roshnigwalior@yahoo.co.in</a></li>
                        </ul> <!-- /.header-contact  -->

                    </div>

                    <div class="col-sm-6 col-xs-12 text-right">

                        <ul class="list-unstyled list-inline header-social">

                            <li><a href="#" target="_blank"> <i class="fa fa-facebook"></i> </a></li>
                            <li><a href="#" target="_blank"> <i class="fa fa-twitter"></i> </a></li>
                            <li><a href="#" target="_blank"> <i class="fa fa-google"></i> </a></li>
                            <li><a href="#" target="_blank"> <i class="fa fa-youtube"></i> </a></li>
                            <li><a href="#" target="_blank"> <i class="fa fa fa-pinterest-p"></i> </a></li>
                        </ul> <!-- /.header-social  -->

                    </div>


                </div>
            </div>

        </div>

        <div class="navbar-main">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">

                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

                    <a class="navbar-brand" href="/"><img src="/images/index_02.png" alt="" class="img-responsive"></a>

                </div>

                <div id="navbar" class="navbar-collapse collapse pull-right">

                    <ul class="nav navbar-nav">

                        <li><a href="/">HOME</a></li>
                        <li class="has-child"><a href="/about">ABOUT</a>
                            <ul class="submenu">
                                <li class="submenu-item"><a href="/gallery">GALLERY </a></li>
                                <li class="submenu-item"><a href="/eco">ROSHNI ECO </a></li>
                            </ul>
                        <li><a href="/causes">CAUSES</a></li>

                        <li class="has-child"><a class="is-active" href="/activities">ACTIVITIES</a>

                            <ul class="submenu">
                                <li class="submenu-item"><a href="/vocational">VOCATIONAL </a></li>
                                <li class="submenu-item"><a href="/units">UNITS </a></li>
                            </ul>

                        </li>
                        <li><a href="/contact">CONTACT</a></li>
                        <li class="career"><a href="#" data-toggle="modal" data-target="#careerModal">CAREER</a></li>
                        <li class="donate"><a href="#" data-toggle="modal" data-target="#donateModal">DONATE NOW</a></li>

                    </ul>

                </div> <!-- /#navbar -->

            </div> <!-- /.container -->

        </div> <!-- /.navbar-main -->


    </nav>

</header> <!-- /. main-header -->


<div class="page-heading text-center">

    <div class="container zoomIn animated">

        <h1 class="page-title">ACTIVITIES <span class="title-under"></span></h1>

    </div>

</div>

<div class="main-container">

    <div class="container">

        <div class="row fadeIn animated">

            <div class="col-md-3">

                <img src="/images/about-us.jpg" alt="" class="img-responsive">

            </div>

            <div class="col-md-9">

                <h2 class="title-style-2">31/03/2014 <span class="title-under"></span></h2>

                Classroom Management for Inclusion of children with Autism & Communication Disorders.
                <p>


            </div>

        </div> <!-- /.row -->
        <p>
            <div class="row fadeIn animated">

                <div class="col-md-3">

                    <img src="/images/about-us.jpg" alt="" class="img-responsive">

                </div>

                <div class="col-md-9">

                    <h2 class="title-style-2">26/11/2014 <span class="title-under"></span></h2>

                    Augmentative & Alternative Communication (AAC) & Sensory Integration Needs - Ms Aparna Bhonsle
                    (Speech and Language Therapist).
        <p>


    </div>

</div> <!-- /.row -->
</p>

<p>
    <div class="row fadeIn animated">

        <div class="col-md-3">

            <img src="/images/about-us.jpg" alt="" class="img-responsive">

        </div>

        <div class="col-md-9">

            <h2 class="title-style-2">16/12/2014 <span class="title-under"></span></h2>

            Inclusion of Children with Developmental Disabilities in Regular Classrooms & Specific Learning
            Disabilities. Dr Priti Haria ,Special Educator and Assistant Professor, The Richard Stockton College of New
            Jersey, USA.
<p>


    </div>

    </div> <!-- /.row -->
</p>

<p>
    <div class="row fadeIn animated">

        <div class="col-md-3">

            <img src="/images/about-us.jpg" alt="" class="img-responsive">

        </div>

        <div class="col-md-9">

            <h2 class="title-style-2">06/04/2015 <span class="title-under"></span></h2>

            Need for Activity Based Learning, Ms Priti Kapoor (Special Educator ) & Ms Aparna Bhonsle
<p>


    </div>

    </div> <!-- /.row -->
</p>

<p>
    <div class="row fadeIn animated">

        <div class="col-md-3">

            <img src="/images/about-us.jpg" alt="" class="img-responsive">

        </div>

        <div class="col-md-9">

            <h2 class="title-style-2">25/05/2015 <span class="title-under"></span></h2>

            Kendriya Vidyalaya No 1, Gwalior/ IGNOU Curricular Adaptations For Inclusion, Roshni.
<p>



    </div>

    </div> <!-- /.row -->
</p>

<p>
    <div class="row fadeIn animated">

        <div class="col-md-3">

            <img src="/images/about-us.jpg" alt="" class="img-responsive">

        </div>

        <div class="col-md-9">

            <h2 class="title-style-2">04/11/2015	 <span class="title-under"></span></h2>

            Kendriya Vidyalaya Sangathan Zonal IET Gwalior - Teaching & Learning Material for children with Special Needs, Roshni team.
<p>


    </div>

    </div> <!-- /.row -->
</p>


<div class="section-home about-us">


    <div class="row">

        <div class="col-md-3 col-sm-6">

            <div class="about-us-col">

                <div class="col-icon-wrapper">
                    <img src="/images/icons/our-mission-icon.png" alt="">
                </div>
                <h3 class="col-title">our mission</h3>
                <div class="col-details">

                    <p>Support persons with Neurological developmental disabilities and their families through
                        services and trainings.</p>
                </div>
                <a href="/about" class="btn btn-primary"> Read more </a>

            </div>

        </div>


        <div class="col-md-3 col-sm-6">

            <div class="about-us-col">

                <div class="col-icon-wrapper">
                    <img src="/images/icons/make-donation-icon.png" alt="">
                </div>
                <h3 class="col-title">Donate</h3>
                <div class="col-details">

                    <p text align="center">We all have ability.<br>The difference is how<br> We use it.</p>

                </div>
                <a href="#" data-toggle="modal" data-target="#donateModal" class="btn btn-primary"> Donate </a>

            </div>

        </div>


        <div class="col-md-3 col-sm-6">

            <div class="about-us-col">

                <div class="col-icon-wrapper">
                    <img src="/images/icons/help-icon.png" alt="">
                </div>
                <h3 class="col-title">Help & support</h3>
                <div class="col-details">

                    <p>We must reaffirm the right of children to grow up in a family with a father and a mother.</p>

                </div>
                <a href="#" data-toggle="modal" data-target="#donateModal" class="btn btn-primary"> Donate </a>

            </div>

        </div>


        <div class="col-md-3 col-sm-6">

            <div class="about-us-col">

                <div class="col-icon-wrapper">
                    <img src="/images/icons/programs-icon.png" alt="">
                </div>
                <h3 class="col-title">our activities</h3>
                <div class="col-details">

                    <p>They need a chance to play and do community activities.We wanted them to see their teacher on a more personal level.</p>

                </div>
                <a href="/activities" class="btn btn-primary"> Read more </a>

            </div>

        </div>


    </div> <!-- /.row -->


</div>

</div> <!-- /.about-us -->




</div>


<footer class="main-footer">

    <div class="footer-top">

    </div>


    <div class="footer-main">
        <div class="container">

            <div class="row">
                <div class="col-md-6">

                    <div class="footer-col">

                        <h4 class="footer-title">About us <span class="title-under"></span></h4>

                        <div class="footer-content">
                            <p>
                                Our vision is to create an environment in which persons with disabilities and their
                                families are supported and fully accepted with equal rights into society.
                            </p>
                            <p>
                                We support persons with Neurological developmental disabilities and their families
                                through services and trainings.
                            </p>
                            <p>
                                We provide an enabling environment to help Persons with Disabilities become empowered
                                and live meaningful lives.
                            </p>

                        </div>

                    </div>

                </div>


                <div class="col-md-6">

                    <div class="footer-col">

                        <h4 class="footer-title">Contact us <span class="title-under"></span></h4>

                        <div class="footer-content">

                            <div class="footer-form">

                                <form action="contact/send" method="post" class="ajax-form">

                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Name" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="E-mail"
                                               required>
                                    </div>

                                    <div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Message"
                                                  required></textarea>
                                    </div>

                                    <div class="form-group alerts">

                                        <div class="alert alert-success" role="alert">

                                        </div>

                                        <div class="alert alert-danger" role="alert">

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-submit pull-right">Send message</button>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>


            </div>


        </div>


    </div>
    <div class="footer-bottom">

        <div class="container text-right">
            Roshni @ copyrights 2016 - by <a href="http://www.facebook.com/ssingh1095" target="_blank">JunGle Software Solutions</a>
        </div>
    </div>
</footer>

<!-- Donate Modal -->
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
            </div>
            <div class="modal-body">

                <form class="form-donation">

                    <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>
                    </h3>

                    <div class="row">

                        <div class="form-group col-md-12 ">
                            <input type="text" class="form-control" id="amount" placeholder="AMOUNT(₹)" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="firstName" placeholder="First name*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lastName" placeholder="Last name*" required>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="address" placeholder="Address" required>
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-12">
                            <textarea cols="30" rows="4" class="form-control" name="note"
                                      placeholder="Additional note"></textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" name="donateNow">DONATE NOW
                            </button>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>

</div> <!-- /.modal -->

<!-- /.career -->
<div class="modal fade" id="careerModal" tabindex="-1" role="dialog" aria-labelledby="careerModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="careerModalLabel">CAREER</h4>
            </div>
            <div class="modal-body">

                <form class="form-career" action="about/send" method="post">

                    <h3 class="title-style-1 text-center">Fill in all the details(all mandatory)  <span class="title-under"></span>
                    </h3>

                    <div class="row">

                        <div class="form-group col-md-12 ">
                            <input type="text" class="form-control" id="job_des" name="job_des" placeholder="Job Description*" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="fname" placeholder="First name*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lname" placeholder="Last name*" required>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="address" placeholder="Address" required>
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-12">
                            <textarea cols="30" rows="4" class="form-control" name="specialization"
                                      placeholder="Specilization" required></textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" name="submit">SUBMIT
                            </button>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>

</div> <!-- /.career -->
<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.11.1.min.js"><\/script>')</script>

<!-- Bootsrap javascript file -->
<script src="/javascripts/bootstrap.min.js"></script>


<!-- Template main javascript -->
<script src="/javascripts/main.js"></script>

</body>
</html>
