<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Single cause | Charity / Non-profit responsive Bootstrap HTML5 template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <!-- Owl carousel -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">

    <!-- Template main Css -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Modernizr -->
    <script src="/javascripts/modernizr-2.6.2.min.js"></script>


</head>
<body>
<!-- NAVBAR
================================================== -->

<header class="main-header">


    <nav class="navbar navbar-static-top">

        <div class="navbar-top">

            <div class="container">
                <div class="row">

                    <div class="col-sm-6 col-xs-12">

                        <ul class="list-unstyled list-inline header-contact">
                            <li><i class="fa fa-phone"></i> <a href="tel:">0751-4081048, 2346449, 2341091  </a></li>
                            <li><i class="fa fa-envelope"></i> <a
                                        href="mailto:roshnigwalior@yahoo.co.in">roshnigwalior@yahoo.co.in</a></li>
                        </ul> <!-- /.header-contact  -->

                    </div>

                    <div class="col-sm-6 col-xs-12 text-right">

                        <ul class="list-unstyled list-inline header-social">

                            <li><a href="#" target="_blank"> <i class="fa fa-facebook"></i> </a></li>
                            <li><a href="#" target="_blank"> <i class="fa fa-twitter"></i> </a></li>
                            <li><a href="#" target="_blank"> <i class="fa fa-google"></i> </a></li>
                            <li><a href="#" target="_blank"> <i class="fa fa-youtube"></i> </a></li>
                            <li><a href="#" target="_blank"> <i class="fa fa fa-pinterest-p"></i> </a></li>

                        </ul> <!-- /.header-social  -->

                    </div>


                </div>
            </div>

        </div>

        <div class="navbar-main">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">

                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

                    <a class="navbar-brand" href="/"><img src="/images/index_02.png" alt="" class="img-responsive"></a>

                </div>

                <div id="navbar" class="navbar-collapse collapse pull-right">

                    <ul class="nav navbar-nav">

                        <li><a href="/">HOME</a></li>
                        <li class="has-child"><a href="/about">ABOUT</a>
                            <ul class="submenu">
                                <li class="submenu-item"><a href="/gallery">GALLERY </a></li>
                                <li class="submenu-item"><a href="/eco">ROSHNI ECO </a></li>
                            </ul>
                        <li><a href="/causes">CAUSES</a></li>

                        <li class="has-child"><a class="is-active" href="/activities">ACTIVITIES</a>

                            <ul class="submenu">
                                <li class="submenu-item"><a href="/vocational">VOCATIONAL </a></li>
                                <li class="submenu-item"><a href="/units">UNITS </a></li>
                            </ul>

                        </li>
                        <li><a href="/contact">CONTACT</a></li>
                        <li class="career"><a href="#" data-toggle="modal" data-target="#careerModal">CAREER</a></li>
                        <li class="donate"><a href="#" data-toggle="modal" data-target="#donateModal">DONATE NOW</a></li>

                    </ul>

                </div> <!-- /#navbar -->

            </div> <!-- /.container -->

        </div> <!-- /.navbar-main -->


    </nav>

</header> <!-- /. main-header -->


<div class="page-heading text-center">

    <div class="container zoomIn animated">

        <h1 class="page-title">VOCATIONAL <span class="title-under"></span></h1>
    </div>

</div>

<div class="main-container">

    <div class="container">

        <div class="row">
            <div class="col-md-12 fadeIn animated">

                <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#cause-carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">

                            <img src="/images/causes/slider/cause-slider-1.jpg" alt="">

                        </div>

                        <div class="item">

                            <img src="/images/causes/slider/cause-slider-2.jpg" alt="">

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="row ">


            <div class="col-md-12 fadeIn animate-onscroll">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    Accessories
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <b>DESCRIPTION:</b> Providing employment to students prepare.
                                <p>
                                    <b>BLOCK PRINTED GREETING CARDS:</b> Greeting cards made from HANDMADE paper to be
                                    used on various occasions.
                                </p>
                                <b>COSTUME JEWELLERY:</b> Students engage in various kinds of accessory making such as
                                <br>BRACELETS
                                <br>KEY CHAINS
                                <br>NECKLACE
                                <br>COMPLETE SET
                                <br>EARINGS
                                <br>Hand crafted and designed by the students of ROSHNI
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo">
                                    Paper Bag Making
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <b>DESCRIPTION:</b> Recycled Carry bags made from newspapers and handmade paper(A4size)
                                providing an alternative and green solution to plastic bags and other non recyclable
                                carry bags.
                                <p>
                                    <b>MARKET PARTNERS:</b> MRIGNAYANEE OUTLETS (Courtesy MADHYA PRADESH HAST SHILP &
                                    HASTKARGHA VIKAS NIGAM).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Lemon Glass
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <b>DESCRIPTION:</b> Lemon grass leaves grown in the ROSHNI campus at Thatipur.
                                <p>
                                    Cultivated and packed(20gms packet) to be used as flavouring in tea products
                                    providing a savoury lemony taste to the beverage served during snack time and other
                                    occasions.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Lamination
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFour">
                            <div class="panel-body">
                                <b>DESCRIPTION:</b> High quality PLASTIC SHEET LAMINATION of cards, documents,
                                certificates done by the students under proper guidance and surveillance at both small
                                (singe document) to large(niramaya cards).
                                <p>
                                    <b>MARKET PARTNERS:</b> Niramaya.
                                </p>
                                <p>
                                    <b>COST per lamination:</b> A4 size 10/- each.
                                </p>
                                <p>
                                    Other variable sizes 35/- each.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Cloth Bag
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFive">
                            <div class="panel-body">
                                <b>DESCRIPTION:</b> Colourful and attractive cloth bags made especially for gifting and
                                carrying purposes.
                                Hand crafter and made by students here at ROSHNI.
                                <p>
                                    <b>CURRENT MARKET PARTNERS:</b> TATSAT (NEW DELHI).
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Rakhi and Diyas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSix">
                            <div class="panel-body">
                                <b>DESCRIPTION:</b> Seasonal designed Diyas for DIWALI and other festive occasions, poojas, hawan, etc.
                                <p>
                                    Rakshabandhan an important festival amongst people in INDIA and especially those abroad is celebrated with lots of zeal and enthusiasm.
                                </p>
                                <p>
                                    Celebrate RAKSHABANDHAN with ROSHNI. Contact us and we will send your near and dear ones in INDIA a RAKHI package delivered at their Home.
                                </p>
                                <p>
                                    <b>MARKET PARTNERS:</b>
                                </p>
                                <br>
                                1. Sold at ROSHNI CAMPUS (Thatipur,GWALIOR).
                                <br>
                                2. ARUNIM.
                                <br>
                                3. MAIN STREAM SCHOOLS.
                                <br>
                                4. USHA KIRAN PALACE HOTEL.

                            </div>
                        </div>
                    </div>


                </div>

                <p></p>

            </div>

        </div>

    </div>
<div class="container">
    <p>
    <h3>For orders Contact :</h3>
    </p>
    <p>
        <b>MRS. RENUKA SHRIVASTAV : +91-9479675313</b>
    </p>
    <p>
        <b>MRS. SRABONI GHATAK : +91-9300738895</b>
    </p>
</div>

</div> <!-- /.main-container  -->


<footer class="main-footer">

    <div class="footer-top">

    </div>


    <div class="footer-main">
        <div class="container">

            <div class="row">
                <div class="col-md-6">

                    <div class="footer-col">

                        <h4 class="footer-title">About us <span class="title-under"></span></h4>

                        <div class="footer-content">

                            <p>
                                Our vision is to create an environment in which persons with disabilities and their
                                families are supported and fully accepted with equal rights into society.
                            </p>
                            <p>
                                We support persons with Neurological developmental disabilities and their families
                                through services and trainings.
                            </p>
                            <p>
                                We provide an enabling environment to help Persons with Disabilities become empowered
                                and live meaningful lives.
                            </p>
                        </div>

                    </div>

                </div>


                <div class="col-md-6">

                    <div class="footer-col">

                        <h4 class="footer-title">Contact us <span class="title-under"></span></h4>

                        <div class="footer-content">

                            <div class="footer-form">

                                <form action="contact/send" method="post" class="ajax-form">

                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Name" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="E-mail"
                                               required>
                                    </div>

                                    <div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Message"
                                                  required></textarea>
                                    </div>

                                    <div class="form-group alerts">

                                        <div class="alert alert-success" role="alert">

                                        </div>

                                        <div class="alert alert-danger" role="alert">

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-submit pull-right">Send message</button>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>


            </div>


        </div>
        <div class="footer-bottom">

            <div class="container text-right">
                Roshni @ copyrights 2016 - by <a href="http://www.facebook.com/ssingh1095" target="_blank">JunGle Software Solutions</a>
            </div>
        </div>

</footer>


<!-- Donate Modal -->
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
            </div>
            <div class="modal-body">

                <form class="form-donation">

                    <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>
                    </h3>

                    <div class="row">

                        <div class="form-group col-md-12 ">
                            <input type="text" class="form-control" id="amount" placeholder="AMOUNT(₹)" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="firstName" placeholder="First name*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lastName" placeholder="Last name*" required>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="address" placeholder="Address" required>
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-12">
                            <textarea cols="30" rows="4" class="form-control" name="note"
                                      placeholder="Additional note"></textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" name="donateNow">DONATE NOW
                            </button>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>

</div> <!-- /.modal -->

<!-- /.career -->
<div class="modal fade" id="careerModal" tabindex="-1" role="dialog" aria-labelledby="careerModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="careerModalLabel">CAREER</h4>
            </div>
            <div class="modal-body">

                <form class="form-career" action="about/send" method="post">

                    <h3 class="title-style-1 text-center">Fill in all the details(all mandatory)  <span class="title-under"></span>
                    </h3>

                    <div class="row">

                        <div class="form-group col-md-12 ">
                            <input type="text" class="form-control" id="job_des" name="job_des" placeholder="Job Description*" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="fname" placeholder="First name*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lname" placeholder="Last name*" required>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="address" placeholder="Address" required>
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-12">
                            <textarea cols="30" rows="4" class="form-control" name="specialization"
                                      placeholder="Specilization" required></textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" name="submit">SUBMIT
                            </button>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>

</div> <!-- /.career -->
<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.11.1.min.js"><\/script>')</script>

<!-- Bootsrap javascript file -->
<script src="/javascripts/bootstrap.min.js"></script>

<!-- PrettyPhoto javascript file -->
<script src="/javascripts/jquery.prettyPhoto.js"></script>


<!-- Google map  -->
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>


<!-- Template main javascript -->
<script src="/javascripts/main.js"></script>

</body>
</html>
